*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  width: 100%;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  width: 80%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 12%;
  height: 12%;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  position: relative;

}

.navbar ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 15px;
}

.navbar ul li::before {
  content: "";
  height: 3px;
  width: 0%;
  background: rgb(255, 0, 0);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.4s ease-out;
}

.navbar ul li:hover::before {
  width: 100%;
}
a {
  color: red;
  text-decoration: none;
  list-style: none;
}
ul {
  list-style: none;
}
img{
  width: 100%;
}
figure{
  width: 20%;
}